#App {
    max-width: 430px;
    margin: 0 auto;
    min-height: 1000px;
    max-height: 500px;
    overflow-y: hidden;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272727;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}